@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

body {
  max-width: 100%;
}

.text-heading {
  font-weight: bold;
  color: #000000;
}

.img-begin {
  position: fixed;
  text-align: center;
  left: 50%;
  width: 200px;
  z-index: 999;
  height: 200px;
  margin-top: 200px;
  background: #456bd9;
  border-radius: 50px;
  background-image: cover;
  border: 0.1875em solid #0f1c3f;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  animation: intro-begin 3.5s ease-in-out forwards;
}

.img-begin .img-fluid {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

@keyframes intro-begin {
  0% {
    top: -300px;
  }

  50% {
    top: 50px;
  }
  75% {
    top: -500px;
  }
  100% {
    top: -800px;
    display: none;
  }
}

.logo a {
  text-decoration: none;
  color: #ffdb5c;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #234bbb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header .hambuger-logo {
  display: none;
}

.header .logo a:hover {
  color: #5ab2ff;
  font-size: 24px;
}

.social-icons a {
  text-decoration: none;
  color: #ffdb5c;
  letter-spacing: 2px;
}

.social-icons a:hover {
  color: #5ab2ff;
}

.nav a {
  text-decoration: none;
  color: #ffdb5c;
}

.nav-item {
  margin-right: 10px;
}

.nav-item:hover {
  color: #fff;
}

.form-search {
  display: none;
}

.form-search.active {
  display: block;
}

.form-search i {
  color: #000000;
}

.form-search {
  position: fixed;
  top: 50px;
  left: 80%;
  transform: translateX(-50%);
  display: none;
  width: 300px;
  height: 150px;
  background-color: #ffffff;
  z-index: 1001;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-login {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  z-index: 1001;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-login input[type="text"],
.form-login button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-login button {
  background-color: rgb(30, 12, 223);
  color: white;
  border: none;
  cursor: pointer;
}

.form-login button:hover {
  background-color: #000000;
  color: #fff;
}

.form-login.active {
  display: block;
}

.form-login a {
  text-decoration: none;
  color: #ccc;
}

.form-login a:hover {
  color: #000000;
}

.intro-page {
  padding-top: 90px;
}

.intro-page .container-fluid {
  max-width: 100%;
}

.intro-page .text-heading {
  transition: all 0.5s ease-in-out;
}

.intro-page .text-heading:hover {
  color: #ffdb5c;
}

/* show-all-product-part */
.show-product .container{
  max-width: 100%;
}
.left-part {
  border-right: 1px solid #ccc; 
  padding-right: 15px;
}

.right-part {
  padding-left: 15px;
}
.left-part .wrapper-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.left-part .wrapper-title h4 {
  margin: 0;
}

.left-part .wrapper-title span {
  margin-left: 10px;
}

.left-part .wrapper-title a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.left-part .wrapper-title .close-details {
  display: none;
}

.left-part .wrapper-title .close-details.active {
  display: inline;
}

.left-part .wrapper-title .more-details.hidden {
  display: none;
}

.left-part .details {
  display: none;
}

.left-part .details.active {
  display: block;
}

.left-part .details li {
  list-style-type: none;
  padding-top: 10px;
}

.left-part .details a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: #000000;
}

.left-part .details a:hover {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: #ffdb5c;
}

.digital-social {
  position: fixed;
  bottom: 100px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.digital-social .btn-content {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: orange;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

.digital-social .btn-content:hover {
  transform: scale(1.1);
  color: #234bbb;
}

.digital-social .support-by-media .option {
  display: flex;
  flex-direction: column;
}

.digital-social .btn-content a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding-top: 20px;
}

.digital-social .content {
  display: none;
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateX(100%);
}

.digital-social .content.active {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: translateX(0);
  list-style-type: none;
  padding-bottom: 10px;
  transition: transform 0.3s ease;
  margin: 0;
}

.digital-social .content li {
  margin-right: 10px;
  transition: all 0.3s ease;
  width: 100px;
  margin-right: 10px;
}

.digital-social .content li:hover {
  transform: scale(1.1);
}

.digital-social .content .img-fluid {
  width: 80px;
  height: 80px;
}
